
.info-box{
    @apply flex flex-col justify-center items-center bg-black shadow-xl shadow-slate-500 gap-2 md:gap-3 relative md:p-6 p-3 rounded;
    


    h2{
        @apply text-cyan-600 font-semibold md:text-4xl text-2xl mt-0
    }

    p{
        @apply text-center
        text-base
        sm:text-base
        lg:text-xl
        text-gray-300 
        px-1 md:px-3
        mb-3.5
        md:mb-5
    }

    a{
        @apply md:text-lg text-sm
        font-semibold
        absolute -bottom-5
        md:px-12 px-6 md:py-2 py-1.5
        md:w-96
        rounded-full
        items-center justify-center
        flex gap-2
        bg-white
        cursor-pointer
    }

    .cyan-text{
        @apply text-gray-300 md:font-semibold 
    }
}






.title {
  transition: all 0.2s ease;
}

.button {
  transition: all 0.2s ease;
}

.hand-gesture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .hand-gesture {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide 2s ease-in-out infinite;
  }
  
  .hand-emoji {
    font-size: 5rem;
    transition: transform 0.3s ease-in-out;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(-20px);
    }
  }
  
  .instruction-text {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }


  .hide-scrollbar{
    ::-webkit-scrollbar{
        display: none;
    }
    scrollbar-width: none;
  }

  .block-container {
    position: relative;
    transition: 250ms;
    perspective: 500px;
  }
  
  .block-container .btn-back {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    transform: rotateZ(15deg);
    will-change: transform;
    box-shadow: 16px 0 40px #e4e4e4;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }
  
  .block-container .btn-back-red {
    background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
  }
  
  .block-container .btn-back-green {
    background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
  }
  
  .block-container .btn-back-yellow {
    background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
  }
  
  .block-container .btn-back-blue {
    background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
  }
  
  .block-container .btn-back-orange {
    background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
  }
  
  .block-container .btn-back-pink {
    background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
  }
  
  .block-container .btn-back-black {
    background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
  }
  
  .block-container .btn-front {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: #ffffff33;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: top left;
    overflow: hidden;
  }
  
  .block-container:hover > .btn-back {
    transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
  }
  
  .block-container:hover > .btn-front {
    transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
  }
  
  /* Neo Brutalism */
  .neo-brutalism-blue {
    background: #2b77e7;
    position: relative;
    border-radius: 10px;
    border: #2b77e7;
    box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
      0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
  }
  
  .neo-brutalism-white {
    background: #fff;
    border: #fff;
    box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
      0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
  }


  
  