@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}



html {
 
  font-family: "CrimsonText", "serif" ;
  scroll-behavior: "smooth";
}
body {
  @apply box-border bg-black
}

.btn-primary {
  @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2 hover:bg-gray-950 hover:text-cyan-600;
}




